!!! 5

%html
%head
  %title Recipe Box
  =stylesheet_link_tag    "application", :media => "all"
  =javascript_include_tag "application"
%body
  #wrapper
    #wrapper-2
      #wrapper-3
        #header.flex-row
          #title
            %p= link_to 'Recipe Box', root_path
          #alert-notice
            %p.notice= notice
            %p.alert= alert
          #buttons.flex-row
            #navigation
              - if user_signed_in?
                = button_to 'New Recipe', new_recipe_path,method: :get, class: "btn.btn-default.navbar-item.button1"
            #login-logout
              - unless user_signed_in?
                = button_to 'Login', root_path, class: "btn.btn-default.navbar-item.button1"
              - else
                = button_to 'Logout', root_path, class: "btn.btn-default.navbar-item.button1"
        #main-content
          = yield
        #footer
          %p footer
